{% extends "AppFinal/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<!-- Testimonials-->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">Creadores del Proyecto</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{%static 'AppFinal/assets/img/lafati.jpg'%}" alt="..." />
                    <h5>Fatima M.</h5>
                    <p class="font-weight-light mb-0">"Actual contadora - Futura data analitycs"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{%static 'AppFinal/assets/img/elfede.jpg'%}" alt="..." />
                    <h5>Federico M.</h5>
                    <p class="font-weight-light mb-0">"Futuro Software Developer - Estudiante de la UNLP Informatica Lic en Sistemas"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{%static 'AppFinal/assets/img/elagu2.jpg'%}" alt="..." />
                    <h5>Agustin B.</h5>
                    <p class="font-weight-light mb-0">"Aspirante a Software Developer, actualmente Estudiante de Lic. en Sistemas - Univerisad Nacional de La Plata "</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
















