{% extends "AppFinal/padre.html" %}
        {% load static %}
{% block contenidoQueCambia %}
<center> 
    <img class="container position-relative " src="{%static 'AppFinal/assets/img/este.jpg'%}" alt="...">
</center>  
<div class="container position-relative">
    <div class="row justify-content-center">
        <div class="col-xl-6">
            <p> Nombre del Cliente: <i> {{cliente.name}} </i></p>
            <p> Apellido del Cliente: <i> {{cliente.lastname}} </i></p>
            <p> DNI del Cliente: <i> {{cliente.dni}} </i></p>
            <p> Fecha de Alta <i> {{cliente.fechaAlta}} </i></p>
            <p> Email: <i> {{cliente.email}} </i></p>
            <p>
                                <a href="{%url 'List' %}"> Regresar </a>
            </p>
        </div>
    </div>
</div>                         

{% endblock %}