{% extends "AppFinal/padre.html" %}
        {% load static %}
        
{% block contenidoQueCambia %}

        <!-- Responsive navbar-->
        
        <!-- Page Content-->
            <p><center>
                <h1 class="font-weight-light">Descuentos</h1>
                <h1 class="font-weight-light">Más gigas, más beneficios.</h1>
                <p>Sumate a la comunidad Coder y obtene beneficios exclusivos</p>
                <a class="btn btn-primary" href="{% url 'nuevocliente' %}">Sumate!</a>
            </center></p>
            <!-- Call to Action-->
            {% comment %} <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
            </div> {% endcomment %}
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-text">
                                <center><p><h1> SONY </h></p></center>
                            </p>
                            <center><p> Promo 20% OFF</p></center>
                            <center><p> Valido hasta el 01/06/2022</p></center>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-text">
                                <center><p><h1> cabify </h></p></center>
                            </p>
                            <center><p>Hasta 50% OFF</p></center>
                            <center><p>Hasta el 31/12/2022</p></center>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-text">
                                <center><p><h1> MEGATONE </h></p></center>
                            </p>
                            <center><p>Hasta 25% OFF</p></center>
                            <center><p>Hasta el 31/08/2022</p></center>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-text">
                                <center><p><h1> dafiti </h></p></center>
                            </p>
                            <center><p>Hasta 25% OFF</p></center>
                            <center><p>Hasta el 31/08/2022</p></center>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-text">
                                <center><p><h1> CODERHOUSE </h></p></center>
                            </p>
                            <center><p>Hasta 20% OFF</p></center>
                            <center><p>Hasta el 31/12/2022</p></center>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-text">
                                <center><p><h1> NOBLEX </h></p></center>
                            </p>
                            <center><p>Hasta 15% OFF</p></center>
                            <center><p>Hasta el 31/08/2022</p></center>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-text">
                                <center><p><h1> ATMA </h></p></center>
                            </p>
                            <center><p>Hasta 10% OFF</p></center>
                            <center><p>Hasta el 1/07/2022</p></center>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-text">
                                <center><p><h1> dash </h></p></center>
                            </p>
                            <center><p>Hasta 10% OFF</p></center>
                            <center><p>Hasta el 31/10/2022</p></center>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-text">
                                <center><p><h1> PHILCO </h></p></center>
                            </p>
                            <center><p> 15% OFF</p></center>
                            <center><p>Hasta el 01/07/2022</p></center>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-text">
                                <center><p><h1> FIT MARKET </h></p></center>
                            </p>
                            <center><p>PROMO</p></center>
                            <center><p>Hasta el 01/03/2023</p></center>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-text">
                                <center><p><h1> pisano </h></p></center>
                            </p>
                            <center><p>10% OFF</p></center>
                            <center><p>Hasta el 01/10/2022</p></center>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-text">
                                <center><p><h1> TAP HAUS </h></p></center>
                            </p>
                            <center><p>10% OFF</p></center>
                            <center><p>Hasta el 31/11/2022</p></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        
</html>



{% endblock %}
