{% extends "AppFinal/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<header class=masthead>
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    
                    <h1 class="mb-5">Unite a CellCoder y obtene los mejores beneficios</h1>
                    <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Email address input-->
                        <div class="row">
                            <div class="col">
                                <h1 class="mb-4" > Tenemos los planes ideales para vos </h1>
                                <h1 class="mb-4"> Unite a nuestra compañia </h1>
                                <!--a href="{% url 'nuevocliente'%}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">UNITE AHORA a>-->
                                <!--button href="{% url 'nuevocliente'%}" >UNITE AHORA</button-->    
                                <center>
                                <a class="fancy" href="{% url 'nuevocliente'%}">
                                    <span class="top-key"></span>
                                    <span class="text">UNITE AHORA!</span>
                                    <span class="bottom-key-1"></span>
                                    <span class="bottom-key-2"></span>
                                </a>  </center>
                            </div>
                        </div>   
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                <p>To activate this form, sign up at</p>
                                <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
    <!-- Icons Grid-->
        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{%static 'AppFinal/assets/img/bg-showcase-1.jpg'%}')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>CellCoder Linea</h2>
                        <p class="lead mb-0">Trae tu numero a nuesta empresa, sumate a nosotros con tu portabillidad, mejorá tu plan actual, MAS GIGAS, MAS BENEFICIOS</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url('{%static 'AppFinal/assets/img/bg-showcase-2.jpg'%}')"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>CellCoder Seguridad</h2>
                        <p class="lead mb-0">Tus datos 100% en nuestros DataBase, seguridad garantizada para tus datos y documentos!</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{%static 'AppFinal/assets/img/bg-showcase-3.jpg'%}')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>CellCoder Fibra!</h2>
                        <p class="lead mb-0">Internet en tu Hogar ,Velocidad a otro nivel, sin cortes, hasta 500mb asimetricos, tu mejor opcion en Fibra</p>
                    </div>
                </div>
            </div>
        </section>
        
{% endblock %}
