{% extends "AppFinal/padre.html" %}
        {% load static %}
{% block contenidoQueCambia %}
<center> 
    <img class="container position-relative " src="{%static 'AppFinal/assets/img/este.jpg'%}" alt="...">
</center>  
<div class="container position-relative">
    <div class="row justify-content-center">
        <div class="col-xl-6">
                <h2>    Hasta pronto!  </h2>
                <div class="col-xl-6">
                     <a class="btn btn-primary" href="{%url 'inicio' %}"> Ver inicio </a>
                     <a class="btn btn-primary" href="{%url 'Login' %}"> Iniciar sesion </a>
                </div>    
        </div>
    </div>
</div>    

{% endblock %}