{% extends "AppFinal/padre.html" %}
        {% load static %}
{% block contenidoQueCambia %}

        <!-- Responsive navbar-->
        
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://pbs.twimg.com/media/DFL6H4gXgAEZgKe.jpg" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Mejorá tu plan actual.</h1>
                    <h1 class="font-weight-light">Más gigas, más beneficios.</h1>
                    <p>¡Más Gigas con tu plan! Tenés 30 GB gratis en todos los planes, 10GB x mes durante tres meses. ¡Vení a CellCoder!</p>
                    <a class="btn btn-primary" href="{% url 'nuevocliente' %}">Sumate!</a>
                </div>
            </div>
            <!-- Call to Action-->
            {% comment %} <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
            </div> {% endcomment %}
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <center>
                                <h2 class="card-title">1,5 GB</h2>
                            </center>
                            <p class="card-text">
                                <p>WhatsApp Gratis</p>
                                <p>Habla libre a cualquier compañia</p>
                            </p>
                        </div>
                        <center>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'nuevocliente' %}">¡Lo quiero!</a></div>
                        </center>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <center>
                                <h2 class="card-title">3 GB</h2>
                            </center>
                            <p class="card-text">
                                <p>WhatsApp Gratis</p>
                                <p>Habla libre a cualquier compañia</p>
                                <p>Beneficio Extra: podes llamar a destinos de America a precio local</p>
                            </p>
                        </div>
                        <center>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'nuevocliente' %}">¡Lo quiero!</a></div>
                        </center>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <center>
                                <h2 class="card-title">5 GB</h2>
                            </center>
                            <p class="card-text">
                                <p>WhatsApp Gratis</p>
                                <p>Habla libre a cualquier compañia</p>
                                <p>Beneficio Extra: podes llamar a destinos de America a precio local</p>
                            </p>
                        </div>
                        <center>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'nuevocliente' %}">¡Lo quiero!</a></div>
                        </center>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <center>
                                <h2 class="card-title">8 GB</h2>
                            </center>
                            <p class="card-text">
                                <p>Roaming en el mundo sin cargo adicional</p>
                                <p>WhatsApp Gratis</p>
                                <p>Habla libre a cualquier compañia</p>
                                <p>Beneficio Extra: podes llamar a destinos de America a precio local</p>
                            </p>
                        </div>
                        <center>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'nuevocliente' %}">¡Lo quiero!</a></div>
                        </center>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <center>
                                <h2 class="card-title">15 GB</h2>
                            </center>
                            <p class="card-text">
                                <p>Roaming en el mundo sin cargo adicional</p>
                                <p>Tenes 30GB gratis por 3 meses</p>
                                <p>WhatsApp Gratis</p>
                                <p>Habla libre a cualquier compañia</p>
                                <p>Beneficio Extra: podes llamar a destinos de America a precio local</p>
                            </p>
                        </div>
                        <center>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'nuevocliente' %}">¡Lo quiero!</a></div>
                        </center>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <center>
                                <h2 class="card-title">20 GB</h2>
                            </center>
                            <p class="card-text">
                                <p>Roaming en el mundo sin cargo adicional</p>
                                <p>Tenes 30GB gratis por 3 meses</p>
                                <p>WhatsApp Gratis</p>
                                <p>Habla libre a cualquier compañia</p>
                                <p>Beneficio Extra: podes llamar a destinos de America a precio local</p>
                            </p>
                        </div>
                        <center>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'nuevocliente' %}">¡Lo quiero!</a></div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        
</html>



{% endblock %}